*{
    box-sizing: border-box;
}

body{
    background: lightgray;
}

.form{
    display: flex;
}

input{
    margin-right: 30px;
}

.error {
    border: 1px solid red;
}


table{
    width: 975px;
}

th {

    text-align: left;
    color: #fff;
    background-color: #706d97;
}
td {

    color: #000;
    border-bottom: 1px solid #eee;
}
th, td {
    padding: 10px;
    height: 20px;
}

th:last-child {
    text-align: right;
}
td:last-child {

    text-align: right;
}
tr:nth-child(odd) {
    background-color: #eee;
}
